/* .main-div {
  width: 500px;
  height: 300px;
  background-color: skyblue;
  border: 3px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.grand-parent {
  width: 370px;
  height: 180px;
  background-color: lightgreen;
  border: 3px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
}

.parent {
  width: 300px;
  height: 100px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.child {
  width: 250px;
  height: 60px;

  background-color: yellow;
  border: 3px solid black;

  cursor: pointer;
} */


/* ********************************************************* */
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.container button {
  padding: 20px 50px;
  font-size: 35px;
  background-color: #7de0a8;
  border: none;
  cursor: pointer;
} 

/* ****************************************************** */
.main-div {
  /* height: 80vh; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.g-div{
  width: 100rem;
  /* height: 50rem; */
  border: 1rem solid #000;
  background-color: #85c1e9;
  display: flex;
  justify-content: center;
}
